/*
li{
    color: #008800;
}
*/

.title,
.recipe-list{
    text-align: center;
}

.title{
    color: hsl(163, 50%, 50%);
    background-color: #2255cc44;
    font-size:500%;
}

.recipe-list{
    list-style-position: inside;
    color:#ff0088;
    background-color: #88008844;
    font-size: 300%;
}

.recipe-link{
    color:#0055dd;
}

#ramsay-gif{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    display:block;
    height: auto;
}

.recipe-name{
    color:rgb(255, 0, 0, .2);
    background-color:#1ef1d5dc;
    font-family: "Courier New", "Georgia", "Helvetica", monospace;
    font-size: 500%;
    font-weight: 700;
    text-align: center;
}

.dish-image{
    height: auto;
    width: 25%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.description{
    font-family: "Helvetica", sans-serif;
    background-color: rgba(128, 32, 32, 0.3);
    color:#00000088;
    font-size: 200%;
    font-weight: 700;
    text-align: right;
}

.ingredients{
    font-family: "Georgia", serif;
    color:hsla(120,50%,50%,0.5);
    background-color: hsla(130,50%,50%,0.2);
    font-size:130%;
    font-weight: 400;
    text-align:left;
    list-style-position: inside;
    list-style-type:disc;
}

.steps{
    font-family: "Courier New", monospace;
    color:hsla(240, 50%, 50%, 1);
    background-color: hsla(240,50%,50%, 0.1);
    font-size:155%;
    font-weight: 250;
    text-align:center;
    list-style-position: inside;
}